.popup-page{
  background: #202022 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  }
  
  .card-shadow{
  background: #202022 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000060;
  border-radius: 20px;
  }
  
  .image-card{
      max-width: 110px;
      height: 100%;
      object-fit: cover;
  }
  
  
  .switch-button {
      position: relative;
      display: flex;
      width: 100%;
      
   input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 0;
      bottom: 0;
      background-color: #3621B6;
      -webkit-transition: .4s;
      transition: .4s;
      width: 35px;
      height: 14px;
      
    }
    
    
    .slider:before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      left: -9px;
      bottom: -5px;
      background-color: #707070;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider:before {
      background-color: #F94933;
    }
    
    input:focus + .slider:before {
      box-shadow: 0 0 1px #F94933;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
    }
    
    .slider.round {
      border-radius: 7px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }
  
  .check-button {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 10px;
      
   input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: relative;
      cursor: pointer;
      min-width: 31px;
      height: 31px;
      background-color: transparent;
      border: 2px solid #725AFF;
      -webkit-transition: .4s;
      transition: .4s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .slider:before {
      content: "";
      height: 18px;
      width: 18px;
      display: none;
    }
    
    input:checked + .slider:before {
      background-color: #F94933;
      display: block;
    }
    
    .slider.round {
      border-radius: 50%;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }
  
  
  
  .page-swiper .swiper-initialized {
    .swiper-button-next, .swiper-button-prev {
      top: 0;
      width: auto;
      margin-top: 0;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev {
    right: 50px;
    left: auto;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after{
      font-family: 'interSemiBold';
      font-size: 16px;
      color:#fff;
  
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
      opacity: 1;
    }
   
    .swiper-button-next.swiper-button-disabled:after, .swiper-button-prev.swiper-button-disabled:after {
  
      color:#484848;
    }
  
    .swiper-button-prev:after{
      content:"BACK";
    }
    .swiper-button-next:after{
      content:"NEXT";
    }
  }
  
  .teamimage{
    transition: all 0.3s;
  }
  .teamchecked .teamimage,
  .teamimage:hover{
    opacity: 0.7;
    transition: all 0.3s;
  }
  
  
  .view-popup{
    position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 1000;
      width: 100%;
      transition: 1s all;
  
      .view-popup-content{
      position: relative;
      max-width: 900px;
      width: 70%;
      max-height: 95%;
      overflow-x: auto;
      margin: 0 auto;
      top: 5%;
      left: 7%;
      background-color: #1A1A1A;
      box-shadow: 0px 3px 6px #00000029;
      transform: translateY(0);
      transition: 500ms all;
  
      }
  }
  
  @media (max-width: 1024px) {
    .popup-page{
  max-width: 100%;
    }
    .view-popup .view-popup-content{
    width: 90%;
    top: 12%;
    left: 0%;
    }
  
  
  }
  
  .filter-buttons button:focus-visible{
    outline: none;
  }
  
  
  .stepper-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .step {
    width: 26px;
    height: 26px;
    background-color: #B6BEBE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1ms all;
  }
  
  .step.active,
  .step.filled {
    border: 2px solid #3621B6;
    color: #fff;
    width: 43px;
    height: 43px;
    background-color: transparent;
    opacity: 1;
  }
  
  .stepper-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .arrow-dropdown{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16.399' height='9.251' viewBox='0 0 16.399 9.251'%3e%3cpath id='Path_109' data-name='Path 109' d='M0,0,8.044,7.544,0,14.986' transform='translate(15.692 0.707) rotate(90)' fill='none' stroke='%23f94933' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  border: 0;
  width: 20px;
  height: 10px;
  transition: all 0.6s;
  display: flex;
  }
  
  
  .currency-select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16.399' height='9.251' viewBox='0 0 16.399 9.251'%3e%3cpath id='Path_109' data-name='Path 109' d='M0,0,8.044,7.544,0,14.986' transform='translate(15.692 0.707) rotate(90)' fill='none' stroke='%23f94933' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right;
    
    option{
      color:#000;
    }
  }
  
  .currency-select:focus-visible,
  .value-input:focus-visible{
    outline:none;
  }
  
  
  #country-dropdown {
    button{
    border: 1px solid #A5A5A5;
    border-radius: 6px;
    color:#A5A5A5;
    font-family: interregular;
  }
  .ReactFlagsSelect-module_selectValue__152eS{
    padding: 0;
    svg{
      width: 40px;
      height: 20px;
    }
  }
  
  
  .ReactFlagsSelect-module_selectBtn__19wW7:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12.333' height='7.069' viewBox='0 0 12.333 7.069'%3e%3cpath id='Path_106' data-name='Path 106' d='M0,0,5.862,5.5,0,10.92' transform='translate(11.627 0.707) rotate(90)' fill='none' stroke='%23a5a5a5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    border: 0;
    width: 20px;
    height: 10px;
    transition: all 0.6s;
  
  }
  // .ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after{
  //   transform: rotate(180deg);
  // }
  }
  
  
  .accordion{
    .accordion-button{
      transition: all 0.7s;
    &:hover{
    opacity: 0.7;
    transition: all 0.7s;
    }
  }
  }
  .accordion-button{
    .accordionbody{
      opacity: 0;
    }
  }
  .accordion-button.open{
    .accordionbody{
      opacity: 1;
    }
  }
  .onboarding-logo{
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #000000B1;
    padding: 26px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .onboarding{
    background-image: url("/pngs/onboarding2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
   
  }
  @media (max-width: 1024px) {
    .onboarding{
      background-image: url("/pngs/onb-mob.png");
      background-size: cover;
      background-position: center;
    }
  }