.blue_border {
  border: 0.30000001192092896px solid #725aff !important;
  border-radius: 7px !important;
}

.grey_border {
  border: 0.30000001192092896px solid #c1b7ff;
  border-radius: 7px;
}

.red_border {
  border: 0.30000001192092896px solid #f94933;
  border-radius: 7px !important;
}

.stepper div:nth-child(2) {
  background-color: #3621b6;
}
